<link href="~/Content//plugins/select2/css/select2.css" rel="stylesheet">
<div class="row">
    <div class="col s12">
        <div class="page-title">@ViewBag.Titre</div>
    </div>
    <div class="col s12 m12 l12">
        @using (Html.BeginForm("SendForm", "FacturationPrevisionelle", new { Mode = ViewBag.Mode, Code = ViewBag.Code }, FormMethod.Post, new { role = "form" }))
        {
            <div class="row">
                <div class="card">
                    <div class="card-content">
                        @{
            string Soc = Session["SOCIETE"] != null ? Session["SOCIETE"].ToString() : string.Empty;
                        }
                        <h3>SOCIETE : @Soc</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <label>Liste des projets</label>
                <select class="js-states browser-default" id="Projet" name="Projet_ID" required>
                    <option value="" disabled="" selected="">Choisir un projet</option>
                </select>
            </div>
            <div class="row">
                <div class="input-field  col s6">
                    <input id="DATE" type="text" class="datepicker" value="@ViewBag.DATE" name="DATE" required>
                    <label for="DATE" class="">DATE </label>
                </div>
                <div class="input-field  col s6">
                    <input id="MONTANT_HT" type="text" class="validate" value="@Model.MONTANT_HT" name="MONTANT_HT" required>
                    <label for="MONTANT_HT" class="">MONTANT HT</label>
                </div>
            </div>             
            <div class="right-align">
                <button class="waves-effect waves-light btn green m-b-xs" type="submit">Valider</button>
            </div>
        }
    </div>
</div>
<script src="~/Content//plugins/select2/js/select2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#li_Depense").attr("class", "active");
        var FilterProjet = "@Model.PROJET";
        var Mode = "@ViewBag.Mode";
        $.ajax({
            type: 'POST',
            url: "/AchatPrevisionnel/GetAllProject",
            success: function (response) {
                $.each(response, function (i, item) {
                    $('#Projet').append($('<option>', {
                        value: item.ID,
                        text: item.CODE + " - " + item.NOM_PROJET
                    }));
                    if (Mode == "Edit") {
                        $("#Projet").val(FilterProjet).trigger("change");
                    }
                });
            }
        });
        $('#Projet').select2();
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year
            format: 'dd/mm/yyyy',
        });
    });
</script>
