<link href="~/Content//plugins/select2/css/select2.css" rel="stylesheet">
<div class="row">
    <div class="col s12">
        <div class="page-title">@ViewBag.Titre</div>
    </div>
    <div class="col s12 m12 l12">
        @using (Html.BeginForm("SendForm", "Projet", new { Mode = ViewBag.Mode, Code = ViewBag.Code }, FormMethod.Post, new { role = "form" }))
        {
            <div class="row">
                <div class="card">
                    <div class="card-content">
                        @{
            string Soc = Session["SOCIETE"] != null ? Session["SOCIETE"].ToString() : string.Empty;
                        }
                        <h3>SOCIETE : @Soc</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <input id="CODE_PROJET" type="text" class="validate" value="@Model.CODE" name="CODE_PROJET" required>
                    <label for="CODE_PROJET" class="">CODE-C</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <input id="REFERENCE" type="text" class="validate" value="@Model.REFERENCE" name="REFERENCE" required>
                    <label for="REFERENCE" class="">CODE-T</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <input id="NOM_PROJET" type="text" class="validate" value="@Model.NOM_PROJET" name="NOM_PROJET" required>
                    <label for="NOM_PROJET" class="">NOM</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <input id="TYPE" type="text" class="validate" value="@Model.TYPE" name="TYPE">
                    <label for="TYPE" class="">TYPE</label>
                </div>
            </div>
            <div class="row">
                <div class="col s10">
                    <label>CLIENT</label>
                    <select class="js-states browser-default" id="CLIENT" name="CLIENT" required>
                        <option value="" disabled="" selected="">Choisir un client</option>
                    </select>
                </div>
                <div class="col s2">
                    <a class="btn-floating btn-large waves-effect waves-light green modal-trigger" onclick="openPop(CLIENT)" href="#modal1"><i class="material-icons">add</i></a>
                </div>
            </div>
            <div class="row">
                <div class="col s10">
                    <label>OWNER</label>
                    <select class="js-states browser-default" id="OWNER" name="OWNER" required>
                        <option value="" disabled="" selected="">Choisir un owner</option>
                    </select>
                </div>
                <div class="col s2">
                    <a class="btn-floating btn-large waves-effect waves-light green modal-trigger" onclick="openPop(OWNER)" href="#modal1"><i class="material-icons">add</i></a>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <input id="DEBUT" type="text" class="datepicker" value="@ViewBag.Start" name="DEBUT" required>
                    <label for="DEBUT" class="">DEBUT</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <input id="FIN" type="text" class="datepicker" value="@ViewBag.End" name="FIN" required>
                    <label for="FIN" class="">FIN</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <input id="MONTANT_HT" type="text" class="validate" value="@Model.MONTANT_HT" name="MONTANT_HT" required>
                    <label for="MONTANT_HT" class="">MONTANT HT</label>
                </div>
            </div>
            <div class="row">
                <label for="TVA" class="">TVA</label>
                <select name="TVA" id="TVA" class="form-control">
                    <option value="0" id="option0">0%</option>
                    <option value="6" id="option6">6%</option>
                    <option value="12" id="option12">12%</option>
                    <option value="18" id="option18">18%</option>
                </select>
            </div>
            <div class="row">
                <div class="input-field">
                    <input id="TTC" type="text" class="validate" value="@ViewBag.TTC" name="TTC" readonly>
                    <label for="TTC" class="">TTC</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <input id="GARANTIE" type="text" class="validate" value='@Model.GARANTIE.ToString("F0")' name="GARANTIE" required>
                    <label for="GARANTIE" class="">GARANTIE (%)</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <input id="TYPE_FACTURATION" type="text" class="autocomplete" value="@Model.TYPE_FACTURATION" name="TYPE_FACTURATION" required>
                    <label for="TYPE_FACTURATION" class="">TYPE FACTURATION</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <input id="MODALITE_FACTURATION" type="text" class="autocomplete" value="@Model.MODALITE_FACTURATION" name="MODALITE_FACTURATION" required>
                    <label for="MODALITE_FACTURATION" class="">MODALITE FACTURATION</label>
                </div>
            </div>
            
            <div class="right-align">
                <button class="waves-effect waves-light btn green m-b-xs" type="submit">Valider</button>
            </div>
        }
    </div>
</div>
<div id="modal1" class="modal">
    <div class="modal-content">
        <div class="modal-content">
            <div class="input-field col s12">
                <input id="RAISON_SOCIALE" type="text" class="validate">
                <label for="RAISON_SOCIALE" class="">RAISON SOCIALE</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" onclick="RemplirListe()">Valider</a>
    </div>
</div>
<script src="~/Content//plugins/select2/js/select2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var Mode = "@ViewBag.Mode";
        var TVA = "@Model.TVA";
        if (Mode == "Edit") {
            $(".select-dropdown").val(TVA + "%");
        }
        $("#li_Projets_work").attr("class", "active");
        UpdateListe1();
        UpdateListe2();
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year
            format: 'dd/mm/yyyy',
        });
        $('#TYPE_FACTURATION').autocomplete({
            data: {
                "Mensuel": null,
                "Trimestriel": null,
                "Semestriel": null,
                "Annuel": null,
                "Selon avancement": null,

            }
        });
        $('#MODALITE_FACTURATION').autocomplete({
            data: {
                "Virement": null,
                "Cheque": null,
                "Caisse": null,
                "Prélevement": null,

            }
        });
    });
    $(document).on("change", "#TVA", function (e) {
        var TVA = $("#TVA").val();
        TVA = parseInt(TVA);
        var HT = $("#MONTANT_HT").val();
        HT = parseFloat(HT);
        var TTC = HT + ((TVA * HT) / 100);
        $("#TTC").val(TTC.toFixed(3));
    });
    $(document).on("keydown", "#MONTANT_HT", function (e) {
        var TVA = $("#TVA").val();
        TVA = parseInt(TVA);
        var HT = $("#MONTANT_HT").val();
        HT = parseFloat(HT);
        var TTC = HT + ((TVA * HT) / 100);
        $("#TTC").val(TTC.toFixed(3));
    });
    $(document).on("keyup", "#MONTANT_HT", function (e) {
        var TVA = $("#TVA").val();
        TVA = parseInt(TVA);
        var HT = $("#MONTANT_HT").val();
        HT = parseFloat(HT);
        var TTC = HT + ((TVA * HT) / 100);
        $("#TTC").val(TTC.toFixed(3));
    });
    function openPop(PARAM) {
        window.PARAM = PARAM;
    }
    function UpdateListe1() {
        var Filterclient = "@Model.CLIENT";
        var Mode = "@ViewBag.Mode";
        $("#CLIENT").empty();
        $('#CLIENT').append(" <option value='' disabled='' selected=''>Choisir un client</option>");
        $.ajax({
            type: 'POST',
            url: "/Projet/GetAllClient",
            success: function (response) {
                $.each(response, function (i, item) {
                    $('#CLIENT').append($('<option>', {
                        value: item.ID,
                        text: item.RAISON_SOCIALE
                    }));
                    if (Mode == "Edit") {
                        $("#CLIENT").val(Filterclient).trigger("change");
                    }
                });
            }
        });
        $('#CLIENT').select2();
    }
    function UpdateListe2() {
        var Filterowner = "@Model.OWNER";
        var Mode = "@ViewBag.Mode";
        $("#OWNER").empty();
        $('#OWNER').append("<option value='' disabled='' selected=''>Choisir un owner</option>");
        $.ajax({
            type: 'POST',
            url: "/Projet/GetAllClient",
            success: function (response) {
                $.each(response, function (i, item) {
                    $('#OWNER').append($('<option>', {
                        value: item.ID,
                        text: item.RAISON_SOCIALE
                    }));
                    if (Mode == "Edit") {
                        $("#OWNER").val(Filterowner).trigger("change");
                    }
                });
            }
        });
        $('#OWNER').select2();
    }
    function RemplirListe() {
        $.ajax({
            type: 'POST',
            url: "/Projet/AddClient?RAISON_SOCIALE=" + $("#RAISON_SOCIALE").val(),
            success: function (response) {
                if (window.PARAM.name == "CLIENT") {
                    UpdateListe1();
                    if ($('#OWNER option:selected').text() == "") UpdateListe2();

                }
                if (window.PARAM.name == "OWNER") {
                    UpdateListe2();
                    if ($('#CLIENT option:selected').text() == "") UpdateListe1();
                }
                $("#RAISON_SOCIALE").val("");
            }
        });
    }
</script>

