<link href="~/Content//plugins/select2/css/select2.css" rel="stylesheet">
<div class="row">
    <div class="col s12">
        <div class="row">
            <div class="page-title">FACTURATION PAR PROJET</div>
        </div>
        <div class="row">
            @{
                string Soc = Session["SOCIETE"] != null ? Session["SOCIETE"].ToString() : string.Empty;
            }
            <h4>SOCIETE : @Soc</h4>
        </div>
    </div>
    <div class="col s12 m12 l12">
        <div class="card card-transparent no-m">
            <div class="card-content invoice-relative-content">
                <div class="row">
                    <div class="col s4">
                        <label>Liste des projets</label>
                        <select class="js-states browser-default" id="basic">
                            <option value="" disabled="" selected="">Choisir un projet</option>
                        </select>
                    </div>
                    <div class="col s2">
                        <a class="btn-floating btn-large waves-effect waves-light" onclick="Filtrer()" style="margin-top: 20px;"><i class="material-icons">search</i></a>
                    </div>
                </div>
                <div class="divider"></div>

                <div class="row">
                    <div class="col s2">
                        <p>
                            <span class="light-blue-text">CODE PROJET</span><br>
                            <b>@ViewBag.CODE</b><br>
                        </p>
                    </div>
                    <div class="col s2">
                        <p>
                            <span class="light-blue-text">DESCRIPTION PROJET</span><br>
                            <b>@ViewBag.NOM_PROJET</b><br>
                        </p>
                    </div>
                    <div class="col s2">
                        <p>
                            <span class="light-blue-text">CLIENT</span><br>
                            <b>@ViewBag.CLIENT</b><br>
                        </p>
                    </div>
                    <div class="col s2">
                        <p>
                            <span class="light-blue-text">DU</span><br>
                            <b>@ViewBag.DEBUT</b><br>
                        </p>
                    </div>
                    <div class="col s2">
                        <p>
                            <span class="light-blue-text">AU</span><br>
                            <b>@ViewBag.FIN </b>
                            <br>
                        </p>
                    </div>
                    <div class="col s2">
                        <p>
                            <span class="light-blue-text">MONTANT HT</span><br>
                            <b>@ViewBag.MONTANT_HT</b><br>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m12 l12">
                        <table class="table responsive-table">
                            <thead>
                                <tr>
                                    <th>DATE FACTURATION</th>
                                    <th>TYPE PIECE</th>
                                    <th>NUMERO PIECE</th>
                                    <th>LIBELLE</th>
                                    <th>DATE REGLEMENT</th>
                                    <th class="right-align">MONTANT HT</th>
                                    <th class="right-align">TVA</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.DATE_FACTURATION.ToShortDateString()</td>
                                        <td>@item.TYPE_PIECE</td>
                                        <td>@item.NUMERO_PIECE</td>
                                        <td>@item.LIBELLE</td>
                                        <td>
                                            @if (item.DATE_REGLEMENT_REEL != null)
                                            {
                                                @item.DATE_REGLEMENT_REEL.ToShortDateString();
                                            }
                                        </td>
                                        <td class="right-align">@item.MONTANT_HT.ToString("F3")</td>
                                        <td class="right-align">@item.TVA.ToString("F3")</td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6 l8">
                        <h6 class="m-t-md text-success light-blue-text"><b>Etat Facturation</b></h6>
                        <h4 class="text-success">
                            @ViewBag.RapportF %</h4>
                    </div>
                    <div class="col s12 m6 l4 right-align">
                        <div class="text-right">
                            <div class="divider"></div>
                            <h6 class="m-t-md text-success light-blue-text"><b>Total</b></h6>
                            <h4 class="text-success">
                                @ViewBag.TOTALF</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="progress" style="height: 30px">
                        <div class="determinate" style="width: @ViewBag.RapportF%"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6 l8">
                        <h6 class="m-t-md text-success light-blue-text"><b>Etat Reglement</b></h6>
                        <h4 class="text-success">
                            @ViewBag.RapportR %</h4>
                    </div>
                    <div class="col s12 m6 l4 right-align">
                        <div class="text-right">
                            <div class="divider"></div>
                            <h6 class="m-t-md text-success light-blue-text"><b>Total</b></h6>
                            <h4 class="text-success">
                                @ViewBag.TOTALR</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="progress" style="height: 30px">
                        <div class="determinate" style="width: @ViewBag.RapportR%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content//plugins/select2/js/select2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#li_Recaps").attr("class", "active");
        $.ajax({
            type: 'POST',
            url: "/Depense/GetAllProject",
            success: function (response) {
                $.each(response, function (i, item) {
                    $('#basic').append($('<option>', {
                        value: item.ID,
                        text: item.CODE + " - " + item.NOM_PROJET
                    }));
                });
            }
        });
        $('#basic').select2();
    });
    function Filtrer() {
        var Parampassed = $("#basic").val();
        window.location.href = "/Recap/FacturationProjet?Parampassed=" + Parampassed;
    }
</script>
